<h1>users edit</h1>

<br>
<%= link_to 'New User', new_user_path %>
<br>
<%= link_to 'edit post', edit_post_path %>
<br>
<%= link_to 'New post', new_post_path %>
<br>
<%= link_to 'New Session', new_session_path %>