<div class="container-fluid">
  <div class="row signup">
    <div class="col-xs-12 col-sm-8 col-md-6">
      <div class="panel panel-default">
        <h1>Instante</h1>
        <%= render 'form', user: @user %>
        <div class="">
          <p>Start capturing and sharing your moments.</p>
        </div>
        <%= link_to 'Login', new_session_path %>
      </div>  
    </div>
  </div>
</div>