<div class="main container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6">
      <div class="panel panel-default">
        <h3>Edit a post</h3>
        <%= render 'form' %>
        <%= link_to 'Show', @post %> 
        <%= link_to 'Back', posts_path %>
      </div>
    </div>
  </div>
</div>